{% extends "layout.html" %}

{% block title %}
    Add Activity
{% endblock %}

{% block main %}
    {% if user == "manager" %}
      <h4>Students involved:</h4>
      {% for email in students %}
          <div class="form-check">
            <input type="checkbox" class="checkbox" form="leadership_form" name="users" value = "{{ email }}" class="form-check-input">
            <label class="form-check-label">{{ email }}</label>
          </div>
      {% endfor %}
    {% endif %}

    <h4>Activity Type:</h4>
    <select class="primary selectpicker" id="forms" onchange="changeForm()" name="forms">
      <option value="leadership">Leadership</option>
      <option value="service">Service</option>
      <option value="award">Awards</option>
      <option value="career">Career</option>
      <option value="project">Project Experience</option>

    </select>
    {% if user == "manager" %}
      <div id="leaderDiv" hidden>
        <h5>Leader:</h5>
        <select class="primary selectpicker" id="leader" name="leader" multiple title="Optional Leader">
          {% for email in students %}
              <option name="leader" value="{{ email }}">{{ email }}</option>

          {% endfor %}
        </select>
      </div>
    {% endif %}
    <!--- Leadership Form --->
    <div id="leadership" class="entry_form">
        <form id="leadership_form" action="/{{ user }}/activity" method="post">
          <div class="row">
            {{ leadership_form.csrf_token }}
            <div class="col">
              {{ leadership_form.year(class_="form-control", placeholder="Year") }}
            </div>
            <div class="col">
              {{ leadership_form.activity(class_="form-control", placeholder="Leadership Activity") }}
            </div>
            <div class="col">
                {{ leadership_form.role(class_="selectpicker") }}

                {{ leadership_form.level(class_="selectpicker") }}

            </div>
            <div class="col">
                {{ leadership_form.importance(class_="form-control",placeholder="Responsiblities") }}

            </div>
          </div>
          {{ leadership_form.lead_submit(class_="btn btn-primary") }}
        </form>
    </div>

    <!--- Service Form --->
    <div id="service" class="entry_form" hidden>
        <form id="service_form" action="/{{ user }}/activity" method="post">
          <div class="row">
            {{ service_form.csrf_token }}

            <div class="col">
              {{ service_form.year(class_="form-control",placeholder="Year") }}
            </div>
            <div class="col">
              {{ service_form.activity(class_="form-control", placeholder="Service Activity") }}
            </div>
            <div class="col">
                {{ service_form.role(class_="selectpicker") }}

            </div>
            <div class="col">
                {{ service_form.importance(class_="form-control", placeholder="Importance") }}

            </div>
          </div>
          {{ service_form.service_submit(class_="btn btn-primary") }}
        </form>
    </div>


        <!--- Awards Form --->
    <div id="award" class="entry_form" hidden>
        <form id="award_form" action="/{{ user }}/activity" method="post">
          <div class="row">
              {{ award_form.csrf_token }}

            <div class="col">
              {{ award_form.year(class_="form-control", placeholder="Year") }}
            </div>
            <div class="col">
              {{ award_form.recognition(class_="form-control", placeholder="Recognition") }}
            </div>
            <div class="col">

                {{ award_form.level(class_="selectpicker") }}

            </div>
            <div class="col">
                {{ award_form.importance(class_="form-control", placeholder="Importance") }}

            </div>
          </div>
          {{ award_form.award_submit(class_="btn btn-primary") }}
        </form>
    </div>

        <!--- Career Form --->
    <div id="career" class="entry_form" hidden>
        <form id="career_form" action="/{{ user }}/activity" method="post">
          <div class="row">
            {{ career_form.csrf_token }}

            <div class="col">
              {{ career_form.year(class_="form-control", placeholder="Year") }}
            </div>
            <div class="col">
              {{ career_form.activity(class_="form-control", placeholder="Career Activity") }}
            </div>

            <div class="col">
                {{ career_form.importance(class_="form-control", placeholder="Importance") }}
            </div>
          </div>
          {{ career_form.career_submit(class_="btn btn-primary") }}
        </form>
    </div>

    <div id="project" class="entry_form" hidden>
        <form id="project_form" action="/{{ user }}/activity" method="post">
          <div class="row">
            {{ project_form.csrf_token }}

            <div class="col">
              {{ project_form.project_name(class_="form-control", placeholder="Project Name") }}
            </div>
            <div class="col">
              {{ project_form.year(class_="form-control", placeholder="Year") }}
            </div>
            <div class="col">
              {{ project_form.activity(class_="form-control", placeholder="Project Experience") }}
            </div>
            <div class="col">
              {{ project_form.hours(class_="form-control", placeholder="Hours") }}
            </div>
            <div class="col">
                {{ project_form.importance(class_="form-control", placeholder="Importance") }}
            </div>

          </div>
          {{ project_form.project_submit(class_="btn btn-primary") }}
        </form>
    </div>

    {% block js %}
        <script src="/static/add_activity.js"></script>
    {% endblock %}

{% endblock %}

