{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in database %}

            <tr>

                <td>{{ entry["symbol"] }}</td>
                <td>{{ entry["shares"] }}</td>
                <td>{{ "${:,.2f}".format(entry["price"]) }}</td>
                <td>{{ entry["timestamp"] }}</td>
            </tr>
        {% endfor %}

      </tbody>
    </table>
{% endblock %}

