{% extends "layout.html" %}

{% block title %}
    {% if user == "manager" %}
        Register as Manager
    {% else %}
        Register as Student
    {% endif %}
{% endblock %}

{% block main %}
    {% if user == "manager" %}
        <h2>Register as Manager</h2>
    {% else %}
        <h2>Register as Student</h2>
    {% endif %}
    <form action="/{{ user }}/register" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      <div class="form-group">
        {% if error %}
            <div class="alert alert-danger" role="alert">Username taken</div>
        {% endif %}

        <label for="registerEmail">Email address</label>
        <input type="email" class="form-control" name="username" id="registerEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <div id="emailFail" class="alert alert-danger" role="alert" hidden>Must enter username</div>
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password" class="form-control" name="password" id="registerPassword" placeholder="Password">
        <div id="passwordFail" class="alert alert-danger" role="alert" hidden>Must enter password</div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirm" id="confirmPassword" placeholder="Confirm Password">
        <div id="confirmPasswordFail" class="alert alert-danger" role="alert" hidden>Must confirm password</div>
      </div>
    <div class="form-group">

      </div>
      <button type="submit" id="submit" onclick="return validate();" class="btn btn-primary">Register</button>

    </form>


{% endblock %}

{% block js %}
    <script src="/static/register.js"></script>
{% endblock %}
