{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/reset" method="post">
      <div class="form-group">
        {% if error %}
            <div class="alert alert-danger" role="alert">Password not correct</div>
        {% endif %}

        <label for="oldPassword">Current Password</label>
        <input type="password"  class="form-control" name="oldPassword" id="oldPassword" placeholder="Current password">
        <div id="oldFail" class="alert alert-danger" role="alert" hidden>Must enter password</div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password"  class="form-control" name="newPassword" id="newPassword" placeholder="New password">
        <div id="newFail" class="alert alert-danger" role="alert" hidden>Must enter new password</div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirm" id="confirmPassword" placeholder="Confirm Password">
        <div id="confirmPasswordFail" class="alert alert-danger" role="alert" hidden>Must confirm password</div>
      </div>
    <div class="form-group">

      </div>
      <button type="submit" id="submit" onclick="return validate();" class="btn btn-primary">Reset</button>
    </form>


{% endblock %}

{% block js %}
    <script src="/static/reset.js"></script>
{% endblock %}
