{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Pending invitations</h2>
         <ul class="list-group">
            {% for invite in invites %}
                <form  action="/student/invites" method="post">
                    <input id="{{ invite.email }}" value="accept" name="type" hidden>
                    <input value="{{ invite.email }}" name="email" hidden>
              <li class="list-group-item"> <h5>{{ invite.email }} | {{ invite.club_name }}</h5> <button  type="submit" class="btn btn-primary">Accept</button> <button type="submit" class="btn btn-danger" onclick="deleteInvite('{{ invite.email }}')">Delete</button></li>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    </form>

            {% endfor %}
        </ul>

        {% block js %}
        <script src="/static/user_invites.js"></script>
    {% endblock %}
{% endblock %}
